# IDE
/.vs
/.vscode/*
!/.vscode/extensions.json
!/.vscode/i18n-ally-custom-framework.yml
*.code-workspace

# Node Modules
/node_modules

# Logs
/logs
npm-debug.log
*.log

# Local Configuration
foundryconfig.json
jtmConfig.json
/*.lock
static/lang/foundry/

# Distribution Files
/dist
/foundry.js
