# OS
.DS_Store

# IDE
/.vs
*.code-workspace

# Node Modules
/node_modules

# Logs
/logs
npm-debug.log
*.log

# Local Configuration
pathconfig
jtmConfig.json
/*.lock
static/lang/foundry/

# Distribution Files
/dist
/foundry.js
