<form autocomplete="off">
  <ul class="card-dialog">
    {{#each cards}}
      <li class="card">
        <label for="{{id}}">
          <input
            type="radio"
            name="card"
            id="card_{{id}}"
            data-card-id="{{id}}"
          />
          <figure{{#if (eq @index 1)}} class="high-card"{{/if}}>
            <div class="indicator"><i class="fas fa-star"></i></div>
            <figcaption>{{name}}</figcaption>
          </figure>
        </label>
      </li>
    {{/each}}
  </ul>
</form>
