<form autocomplete="off">
  <ul class="card-dialog">
    {{#each data.cards as |card|}}
    <li class="card">
      <label for="{{card.id}}">
        <input
          type="checkbox"
          name="card"
          id="{{card.id}}"
          data-card-id="{{card.id}}"
        />
      </label>
    </li>
    {{/each}}
  </ul>
</form>
